ielet1002_gr27.json
[
    {
        "id": "71be7d36e1ec0edf",
        "type": "mqtt in",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "topic": "esp1/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 600,
        "wires": [
            [
                "e8e0fe75eaa545a5",
                "8a78b34f48f3568d"
            ]
        ]
    },
    {
        "id": "8a78b34f48f3568d",
        "type": "ui_gauge",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "group": "5d641bac6f8c3955",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 400,
        "y": 620,
        "wires": []
    },
    {
        "id": "e8e0fe75eaa545a5",
        "type": "debug",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 580,
        "wires": []
    },
    {
        "id": "d191750348562c55",
        "type": "debug",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 700,
        "wires": []
    },
    {
        "id": "7bb693edd69b0a63",
        "type": "ui_chart",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "group": "5d641bac6f8c3955",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "8e781e586f58758d",
        "type": "mqtt in",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "topic": "esp1/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 720,
        "wires": [
            [
                "d191750348562c55",
                "7bb693edd69b0a63"
            ]
        ]
    },
    {
        "id": "2e3147e54d120bba",
        "type": "mqtt out",
        "z": "58ac7eff2841d2f2",
        "name": "esp2/charge",
        "topic": "esp2/charge",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "a91954d6d0d18301",
        "type": "mqtt in",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "topic": "esp3/battery",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "cc2502cbafcf1db6",
                "144cb59bb73695a6"
            ]
        ]
    },
    {
        "id": "cc2502cbafcf1db6",
        "type": "debug",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "144cb59bb73695a6",
        "type": "ui_gauge",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "group": "8b2b1cbc92dde14d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "13b12d9feb779b48",
        "type": "mqtt in",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "topic": "esp3/batteryhealth",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "58f72fc40ff3130f",
                "784ee8d32297d19c"
            ]
        ]
    },
    {
        "id": "58f72fc40ff3130f",
        "type": "debug",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "784ee8d32297d19c",
        "type": "ui_gauge",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "group": "8b2b1cbc92dde14d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Health",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "5b398770923f5157",
        "type": "ui_button",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "group": "81da0c1103bdb3e3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Full Charge",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "full_charge",
        "payloadType": "str",
        "topic": "charge",
        "topicType": "msg",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "454c6ad8b9381b8c",
                "2e3147e54d120bba"
            ]
        ]
    },
    {
        "id": "90e08b2acd62ef53",
        "type": "ui_button",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "group": "81da0c1103bdb3e3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Charge Until Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "charge_untilStop",
        "payloadType": "str",
        "topic": "charge",
        "topicType": "msg",
        "x": 230,
        "y": 360,
        "wires": [
            [
                "454c6ad8b9381b8c",
                "2e3147e54d120bba"
            ]
        ]
    },
    {
        "id": "45422f39c57cba5e",
        "type": "ui_button",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "group": "81da0c1103bdb3e3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Charge Up To",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "upTo_charge",
        "payloadType": "str",
        "topic": "charge",
        "topicType": "msg",
        "x": 220,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "31f68227e5ab9879",
        "type": "ui_button",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "group": "81da0c1103bdb3e3",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Full Charge (Credit)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "full_chargeCredit",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "454c6ad8b9381b8c",
                "2e3147e54d120bba"
            ]
        ]
    },
    {
        "id": "7c14b294369c4778",
        "type": "ui_button",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "group": "81da0c1103bdb3e3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Battery Service",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "service",
        "payloadType": "str",
        "topic": "service",
        "topicType": "msg",
        "x": 220,
        "y": 480,
        "wires": [
            [
                "454c6ad8b9381b8c",
                "f915e25c12e8e89b"
            ]
        ]
    },
    {
        "id": "0e8fef7469ebd098",
        "type": "ui_button",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "group": "81da0c1103bdb3e3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Battery Replacement",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "battery_replacement",
        "payloadType": "str",
        "topic": "service",
        "topicType": "msg",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "f915e25c12e8e89b",
                "454c6ad8b9381b8c"
            ]
        ]
    },
    {
        "id": "454c6ad8b9381b8c",
        "type": "debug",
        "z": "58ac7eff2841d2f2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "f915e25c12e8e89b",
        "type": "mqtt out",
        "z": "58ac7eff2841d2f2",
        "name": "esp2/service",
        "topic": "esp2/service",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 510,
        "y": 520,
        "wires": []
    },
    {
        "id": "78989a76e16d249d",
        "type": "mqtt in",
        "z": "58ac7eff2841d2f2",
        "name": "esp4/trash",
        "topic": "esp4/trash",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 240,
        "wires": [
            [
                "cdca17b7f40b949d"
            ]
        ]
    },
    {
        "id": "cdca17b7f40b949d",
        "type": "ui_gauge",
        "z": "58ac7eff2841d2f2",
        "name": "Trash",
        "group": "a4bd2cf00933d7b1",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5d641bac6f8c3955",
        "type": "ui_group",
        "name": "ESP1",
        "tab": "e7c46d5e.a1283",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b2b1cbc92dde14d",
        "type": "ui_group",
        "name": "ESP3",
        "tab": "e7c46d5e.a1283",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81da0c1103bdb3e3",
        "type": "ui_group",
        "name": "ESP2",
        "tab": "e7c46d5e.a1283",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4bd2cf00933d7b1",
        "type": "ui_group",
        "name": "ESP4",
        "tab": "e7c46d5e.a1283",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    }
]